.container:{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
}
.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Source Sans Pro', sans-serif;

}

.error-1{
  width: 100%;
  border: 4px solid red;
  padding: 10px;
  margin-top: 20px;
  font-size: 25px;
  color: rgb(241, 50, 50);
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-family: 'Source Sans Pro', sans-serif;
}
/* error empty */
.error-2{
  width: 100%;
  border: 4px solid red;
  padding: 20px;
  margin-top: 10px;
  font-size: 25px;
  color: rgb(241, 50, 50);
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-family: 'Source Sans Pro', sans-serif;
 }



/* form { */
#tweet-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  
}

 #tweet-text {   
  font-size: 25px; 
  width: 100%;
  font-weight: bolder;
  background-color: #f4f1ec ;
  color: #545149;
  border-style: none;
  border-bottom: 5px solid #545149;
  margin-top: 10px;

}

.send-tweet {
  width:100%;
  margin-top: 1.5%;
  display:flex;
  flex-direction: row;  
  justify-content:space-between;
}
.button{
  background-color:#4056A1 ;
  font-family: "Bungee",cursive;
  font-size: medium ;
  color: #ffffff;
  transition:ease-out 0.3s ;
}
.counter {
  display: flex;
  font-family: "Bungee",cursive;
  font-size: medium ;
  color: #545149;
}
.counter-overlimit {
  color: red;
}

.tweets-container{
  width: 100%;
  margin-top: 40px;

}
.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
  border: 5px solid #545149;
  padding: 0 10px;
  margin: 30px 0;
;
}

.user {
  vertical-align: super;
}

.tweet-header{
  width: 100%;
  font-weight: bold;
  background-color: #f4f1ec ;
  color: #545149;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px;
}
.tweet-header span{
color: grey;

}

.article p{
  border-bottom: 5px solid #545149;
  width: 100%;
  margin-bottom: 10px;

}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tweet-footer span{
  font-size: 15px;
  margin: 10px 10px;
}

.tweet-footer div{
  display: flex;
  justify-content: space-between;
}
.article .fa-solid.fa-flag {
  color: #4056A1;
}
.article .fa-solid.fa-retweet {
   color: #4056A1;
  ;
}
.article .fa-solid.fa-heart {
  color: #4056A1;

}

/* hover*/

article:hover{
  box-shadow: 25px 30px rgba(38, 77, 184, 0.3);
  /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;} */
}
.article .fa-solid.fa-flag:hover {
  color: yellow;
}
.article .fa-solid.fa-retweet:hover {
  color: yellow;
}
.article .fa-solid.fa-heart:hover {
  color: yellow;
}

